{minimum_otp_vsn, "28"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{shell, [
    {apps, [erllama, erllama_cache]}
]}.

{relx, [
    {release, {erllama, "0.1.0"},
        [erllama, erllama_cache, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "./config/sys.config"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [debug_info, nowarn_export_all]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown, no_return, error_handling]},
    {plt_apps, top_level_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
